@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

$button: hsl(154, 59%, 51%);
$red: hsl(0, 100%, 74%);
$button-above: hsl(248, 32%, 49%);
$dark-blue: hsl(249, 10%, 26%);
$grayish-blue: hsl(246, 25%, 77%);
$white: #fff;

$font: 'Poppins', sans-serif;

$gap-0: 0rem;
$gap-1: .4rem;
$gap-2: .8rem;
$gap-3: 1.2rem;
$gap-4: 1.6rem;
$gap-5: 2rem;
$gap-6: 2.4rem;
$gap-7: 3.2rem;
$gap-8: 4rem;

$screen-sm-max: 476px;