@import "../_mixins.scss";

header {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 10vh;

  nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    .header-left {
      display: flex;
      align-items: center;
      justify-content: space-around;

      width: 50%;

      .nav-list {
        display: flex;
        list-style: none;
        margin-left: 4rem;

        li {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;

          padding: 0.8rem;

          .popup-list {
            display: none;
            flex-direction: column;
            align-items: flex-start;
            width: 120px;

            border-radius: 1.2rem;

            position: relative;
            top: 90px;
            right: 130px;
            background: $white;

            span {
              color: black;
              font-size: 1.2rem;
              transition: ease-in 2s;

              &:hover {
                color: $heading;
                font-weight: 700;
              }
            }
          }

          .active {
            display: flex;
            animation: fadeIn 2s;
          }
        }

        .menu-list {
          margin-right: 1.6rem;
          display: flex;
          align-items: center;

          span {
            margin-right: 0.8rem;
            font-weight: 300;
            font-size: 1.4rem;
            color: $white;
            font-family: $font-ubuntu;
          }

          img {
            cursor: pointer;
          }
        }
      }
    }

    .header-right {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .login {
        @include whiteButton;
      }

      button {
        width: 20%;
        margin-left: 1.6rem;
      

        @include mainButton;
      
      }
    }
  }
}

.rotate {
  transform: rotate(180deg);
  transition: 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  
}
