@import '../_mixins.scss';

.intro-section {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 65vh;

    h1 {
        font-size: 4.2rem;
        color: $white;
        
    }

    h2 {
        font-size: 1.4rem;
        margin-top: 1.2rem;

        font-weight: 300;
        color: $white;
        opacity: .7;
    }

    div {
        margin-top: 3.2rem;
        button {
            @include mainButton;
        }
        
    }
}