@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&display=swap');

$primary-color: #54e6af;
$body-color: #c2cbe5;
$bg-color: #121725;
$form-color: #2c344b;
$header: #ffffff;
$hover: #c2cbe5;
$alert: #F47174;

$font: 'Chivo', sans-serif;

$gap-0: 0px;
$gap-1: 4px;
$gap-2: 8px;
$gap-3: 16px;
$gap-4: 24px;
$gap-5: 28px;
$gap-6: 32px;
$gap-7: 40px;
$gap-8: 48px;

$screen-sm-max: 476px;