$Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
$Desaturated-Dark-Blue: hsl(214, 17%, 51%);
$Grayish-Blue: hsl(212, 23%, 69%);
$bg-color: hsl(210, 46%, 95%);

$font:'Manrope', sans-serif;


$gap-0: 0rem;
$gap-1: 0.4rem;
$gap-2: 0.8rem;
$gap-3: 1.2rem;
$gap-4: 1.6rem;
$gap-5: 2.4rem;
$gap-6: 3.2rem;
$gap-7: 4rem;
$gap-8: 4.8rem;